<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">

  <script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <!-- Introduciremos la librería de AngularJS -->
  <script src="./lib/angular/angular.js"></script>

  <style>
    body {
      display: flex;
      justify-content: space-around;
    }
  </style>

</head>

<!-- Con la directiva ng-app le decimos al HTML donde se va a contener nuestra aplicación de AngularJS, podemos ponerla a nivel de la web completa
o en una pequeña parte de nuestra página web. El nombre al que se iguala esta directiva corresponde al módulo root de nuestra aplicación de AngularJS,
que en este ejemplo se encuentra creado en app.js -->
<body ng-app="myApp">
  
  <!-- ng-controller le dice a AngujarJS que controlador estamos usando en esta vista. -->
  <div ng-controller = "HelloController" >

    <h2>Hello Controller</h2>

    <!-- La directiva ng-model crea una variable 'name', que puede ser usada en el HTML, no es necesario tener que crearla en el controlador. -->
    <p>Introduzca un nombre: <input type="text" ng-model="name"></p>

    <!-- Con la expresión {{ helloTo.title }} hacemos data-binding con las variables del componente que hemos cargado en esta vista, existen
    más formas de hacer data-binding en AngularJS, este es el caso más básico. -->
    <!-- La directiva ng-bind usa la variable 'name' para mostra su valor introducido en la etiqueta input -->
    <h3>Welcome <span ng-bind="name"></span> to the {{helloTo.title}} tutorial!</h3>
  </div>

  <div ng-controller = "MathController">

    <h2>Math Controller</h2>

    Two times <input ng-model="num"> equals {{ double(num) }}
  </div>

  <!-- Controlador Scope -->
  <div ng-controller = "ScopeController">

    <h2>Main Scope Controller</h2>

    <p>Nombre: <input type="text" ng-model="name"></p>

    <!-- No se ha mencionado antes, pero en el HTML no es necesario poner delante $scope para referenciar a la variable del controlador -->
    <h3>Value name: {{ name }}</h3>

    <!-- Controlador SubScope anidado en el controlador anterior por lo que las variables del controlador padre podrán ser usadas y mostradas
    en este controlador también -->
    <div ng-controller = "SubScopeController">

      <h4>Sub Scope Controller</h4>

      <!-- Con $parent nos aseguramos que el valor de la variable 'name' será siempre el valor que tenga en el padre -->
      <h5>Value name: {{ $parent.name }}</h5>

      <button ng-click="changeValue()">Change value name!</button>

      <h5>New value name: {{ name }}</h5>
    </div>
  </div>

  
</body>

    <!-- Scripts creados para nuestra aplicación -->
  <script src="app.js"></script>
  <script src="components/myFirstComponent/my-first-component.js"></script>
  <script src="components/secondComponent/second-component.js"></script>
  <script src="components/scopeComponent/scope-component.js"></script>
</html>
